.app_button_button_white{
    background-color: white;
    color: black;
}

.app_button_button_black{
    background-color: black;
    color: white;
}

.app_button{
    border-radius: 10px;
    border: 0;
    box-shadow: 1px 1px 5px gray;
    outline: none;
    width: 150px;
    padding: 15px;
    margin: 20px;
    text-align: center;
    font-family: 'Krub', sans-serif;
    /*font-size: medium;*/
    font-size: 15px;
    font-weight: bold;
}

.app_button:hover{
    transform: scale(0.9);
    cursor: pointer;
}

