.selectDifficulty_headline{
    text-align: center;
}

.selectDifficulty_btnContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.diff-fade-enter {
    opacity: 0;
    transform: scale(0.2);
}
.diff-fade-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: all 1000ms;
}

.diff-fade-exit {
    opacity: 1;
}
.diff-fade-exit-active {
    opacity: 0;
    /*transform: scale(0.2);*/
    transition: all 1000ms;
}

@media only screen and (min-width: 850px) {
    .selectDifficulty_btnContainer{
        display: block;
        text-align: center;
    }
}