body {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'KoHo', sans-serif;
}

p, a{
  font-family: 'Krub', sans-serif;
}

.minHeigthDiv{
  min-height: 420px;
}



/*
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*/